# Xcode
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
**/xcuserdata/
Tilly.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
*.xcuserstate
*.xcscmblueprint
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store

# Claude Code
.claude/settings.local.json
